---
layout: layouts/post.njk
eleventyComputed:
  teaser: "{{ collections.home[0].data.teaser }}"
  title: "{{ collections.home[0].data.title }}"
  hlink: "{{ collections.home[0].url }}"
  readMoreUrl: "{{ collections.home[0].url }}"
---

<script type="text/javascript">
  // Redirect admin logins.
  if (location.hash.includes('confirmation_token=')) {
    location.pathname = '/admin/';
  }
</script>

{{ teaser }}
